.section-profile {
  min-height: 650px;
  background: #f0f3f5;
}

.button-list {
  list-style: none;
}

.button-list li {
  display: inline;
  float: left;
}

.btn-outline-primary {
  color: #353a40 !important;
  border-color: #353a40 !important;
  transition: background-color 300ms;
}

.btn-outline-primary:hover {
  background-color: #353a40 !important;
  color: #ffffff !important;
  transition: background-color 300ms;
}

.image {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-width: 1px;
  border-color: aliceblue;
  border-style: groove;
}
.job {
  max-width: 500px;
}

.error-alert {
  background: rgb(219, 79, 79);
}
.success-alert {
  background: rgb(129, 218, 129);
}

.profile-picture {
  border-radius: 50%;
  border: 3px solid black;
}
.btn-review{
  background-color: #7e8b87!important;
  border: none;
  color: white;
  min-width: 150px;
  max-width: 400px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-review:hover {
  background-color:#353a40!important;
  color: #ffffff!important;
  transition: background-color 300ms;
}

.profile-reviews {
  margin-left: 15px;
  margin-right: 15px;
}

.card {
  max-width: 500px;
  margin: 20px;
}

ngb-rating {
  color: #ffc107;
  font-size: 18px;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
