<section *ngIf="UserProfile" class="section-profile py-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-5 text-right">
        <img class="img-fluid profile-picture" src="{{UserProfile.profilePictureLink}}"/>
      </div>
      <div class="col-7 text-left">
        <h1 class="display-4"><fa-icon [icon]="faUser"></fa-icon> {{UserProfile.firstName}} {{UserProfile.lastName}}</h1>
        <h3 class=""><fa-icon [icon]="faHome"></fa-icon>&nbsp; {{UserProfile.city}}, {{UserProfile.address}} </h3>
        <h3 class=""><fa-icon [icon]="faPhone"></fa-icon>&nbsp; {{UserProfile.phone}} </h3>
        <h3 class="" *ngIf="UserProfile.rating != -1"><fa-icon [icon]="faStar"></fa-icon> {{UserProfile.rating}} </h3>
        <h3 class=""><fa-icon [icon]="faPassport"></fa-icon> &nbsp; {{userAge}} years old</h3>
      </div>

    </div>
    <div class="row justify-content-center">
      <ul class="button-list">
        <li class="mx-3"> <button class="btn mb-2 mb-md-0 btn-outline-primary btn-block" (click)=togglePastJobs()> <fa-icon [icon]="faHistory"></fa-icon> Current Jobs </button></li>
        <li class="mx-3"> <button class="btn mb-2 mb-md-0 btn-outline-primary btn-block" (click)=toggleReviews()> <fa-icon [icon]="faReview"></fa-icon> Reviews </button></li>
        <!--<li class="mx-3"> <button class="stylebtn" (click)=toggleExperience()> Experience </button></li>-->
        <!--<li class="mx-3"> <button class="stylebtn" (click)=toggleEducation()> Education </button></li> -->
        <!--<li class="mx-3"> <button class="stylebtn" (click)=toggleVerifications()> Verifications </button></li>-->
      </ul>
    </div>
    <div *ngIf="isShowPastJobs && !gotJobs" class="row justify-content-center col-lg-12">
      <h1 ><fa-icon [icon]="faHistory"></fa-icon> User didn't post any jobs yet </h1>
    </div>
    <div *ngIf="isShowPastJobs && gotJobs" class="container-fluid justify-content-center">
      <h1><fa-icon [icon]="faHistory"></fa-icon> Current jobs</h1>
      <div class="row justify-content-center ">

        <div class="col-lg-4 col-md-6 justify-content-center card" *ngFor="let item of userJobs"><a [routerLink]="['/jobs', item.jobId]" >
          <img class="image"src="http://handymanamsterdam.nl/wp-content/uploads/2020/01/plumber-1.jpg" alt="Generic placeholder image">
          <h2 class="center">{{item.title}}</h2>
          <p>{{item.description}}</p>
          <p>Price per hour: ${{item.price}}</p>
        </a></div>


      </div>
    </div>
    <div *ngIf="isShowReviews && !gotReviews" class="profile-reviews row justify-content-center col-lg-12">
      <h1 ><fa-icon [icon]="faStar"></fa-icon> User doesn't have any reviews yet </h1>
      <div *ngIf="canleavereview" class="input-field row justify-content-center col-lg-12 col-md-12">
        <div>
          <H2>You didn't leave a review yet. </H2>
        <button class="btn-review col-lg-12 col-md-12" type="button" (click)="open(leavereview)">Write a review</button>
        </div>
        
      </div>
    </div>
    <div *ngIf="isShowReviews && gotReviews" class="profile-reviews">
      
      <h1> <fa-icon [icon]="faReview"></fa-icon> Reviews</h1>
      
      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4 my-3 card" *ngFor="let review of userReviews">
          <h2 class="center">{{review.title}}</h2>
          <p>{{review.description}}</p>
          <p>Rating: <ngb-rating [max]="5" [(rate)]=review.rating [readonly]="true"></ngb-rating></p>
          <p></p>
        </div>
      </div>
      <div *ngIf="canleavereview" class="input-field row justify-content-center col-lg-12 col-md-12">
        <div>
          <H2>You didn't leave a review yet. </H2>
        <button class="btn-review col-lg-12 col-md-12" type="button" (click)="open(leavereview)">Write a review</button>
        </div>
      </div>


      <!-- <h1 > Write a review: </h1>
      <form id="feedback" action="">

        <div class="pinfo">Write your Title.</div>
      <div class="form-group">
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"></span>
        <input  [(ngModel)]="reviewTitle" placeholder="Title" class="form-control" name="title" type="text" required>
          </div>
        </div>
      </div>



       <div class="pinfo">Rate our overall services.</div>


      <div class="form-group">
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"></span>
         <select class="form-control" id="rating" name="score" [(ngModel)]="reviewScore">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          </div>
        </div>
      </div>

       <div class="pinfo">Write your feedback.</div>


      <div class="form-group">
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"></span>
        <textarea [(ngModel)]="reviewFeedback" class="form-control" id="review" name="description" rows="3"></textarea>

          </div>
        </div>
      </div>
      <div class="pinfo">Write Pros.</div>
      <div class="form-group">
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"></span>
          <input [(ngModel)]="reviewPros" name="Pros" class="form-control" placeholder="Very Friendly">
           </div>
        </div>
      </div>
      <div class="pinfo">Write Cons.</div>
      <div class="form-group">
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"></span>
        <input  [(ngModel)]="reviewCons" name="Cons" placeholder="Too slow" class="form-control"  >
          </div>
        </div>
      </div>
       <button type="submit" class="btn btn-primary" (click)="submitReview()">Submit</button>


      </form> -->


    </div>

    <div *ngIf="isShowExperience" class="profile-experience">
      <h1> Software Engineer </h1>
      <h2> ASML </h2>
      <h3> JAN 2019 - FEB 2021 (2 years, 1 month - JS CALCULATOR or API CALL?)</h3>
      <h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    </div>

    <div *ngIf="isShowEducation" class="profile-education">
      <h1> Education</h1>
    </div>

    <div *ngIf="isShowVerifications" class="profile-verifications">
      <h1> Verifications</h1>
    </div>


  </div>
</section>




<ng-template #leavereview let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Writing a review</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="address">Title</label>
        <div class="input-group">
          <input id="address" class="form-control"  [(ngModel)]="reviewTitle" name="title" ng-model="title">
        </div>
        <label for="phone">Feedback</label>
        <div class="textarea">
          <textarea rows="6" id="phone" class="form-control" [(ngModel)]="reviewFeedback" name="description" ng-model="description"></textarea>
        </div>
        <label for="address">Pros</label>
        <div class="input-group">
          <input id="address" class="form-control" [(ngModel)]="reviewPros"  name="price" ng-model="price">
        </div>
        <label for="address">Cons</label>
        <div class="input-group">
          <input id="address" class="form-control" [(ngModel)]="reviewCons"  name="price" ng-model="price">
        </div>

        <label for="phone">Rating</label>
        <div>
          <select class="form-select" id="experience" name="experience" [(ngModel)]="reviewScore">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
            <option value = "4">4</option>
            <option value = "5">5</option>
        </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" ng-required="phonenr" (click)="modal.close('Save click')" (click)="close()" (click)="sendReview()">Upload</button>
  </div>
</ng-template>







<ng-template #error let-modal let-c="close" let-d="dismiss" >
  <div class="modal-header error-alert">
    <h2 class="modal-title" id="modal-basic-title">There was an Error!</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <label>{{lasterror}}</label>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" ng-required="phonenr" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #success let-modal let-c="close" let-d="dismiss" >
  <div class="modal-header success-alert">
    <h2 class="modal-title" id="modal-basic-title">Success!</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <label>The review has been posted!</label>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" ng-required="phonenr" (click)="modal.close()">Close</button>
  </div>
</ng-template>
