
<section class="section-contact">
  <div class="container p-0">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4 my-md-3 my-sm-0 order-md-2 order-2">
        <H1 class="txt" style="text-align: center;">Alternative contact method</H1>
        <hr>
        <div class="card frm">
          <div class="card-body">
            <form class="needs-validation" novalidate>
              <!-- Name | Surname -->
              <div class="form-row">
                <div class="form-group">
                  <h2>Contact us and we will get back to you!</h2>
                </div>
                <hr>
                <div class="form-group col-md-6">
                  <label for="inputName">First Name*</label>
                  <input type="text" class="form-control" id="inputName" placeholder="" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputSurname">Last Name*</label>
                  <input type="text" class="form-control" id="inputSurname" placeholder="" required>
                </div>
              </div>

              <!-- Email -->
              <div class="form-group">
                <label for="inputEmail">Email*</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="" required>
              </div>
              <div class="invalid-feedback">
                Please enter a valid email!
              </div>

              <!-- Message -->
              <div class="form-group">
                <label for="inputMessage">Message*</label>
                <textarea class="form-control" id="inputMessage" rows="3"></textarea>
              </div>
              <hr>

              <!-- Contact information -->
              <div class="form-group">
                <h1>Contact information </h1>
              </div>

              <div class="form-group">
                <p><fa-icon [icon]="faHome"></fa-icon> Address: Rachesmolen 1</p>
              </div>

              <div class="form-group">
                <p><fa-icon [icon]="faPhone"></fa-icon> Phone: +31 6 12 34 56 78</p>
              </div>

              <div class="form-group">
                <p><fa-icon [icon]="faEnvelopeOpenText"></fa-icon> Email: mail@fontys.nl</p>
              </div>

              <div class="form-row justify-content-center">
               
                <button type="submit" class="btn mb-2 mb-md-0 btn-outline-primary btn-block w-100s"><fa-icon [icon]="faTelegramPlane"></fa-icon> Send message</button>
              </div>
            </form>

          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 my-3 order-md-1 order-1">
        <h1 class="display-1 text-center Contact">Contact us</h1>
        
        <div>
          
          <p class="txt">You can find us:</p>
          <p>Rachelsmolen 1, 5623PE, Eindhoven, Netherlands.</p>
          <a href="https://goo.gl/maps/xPXJXeK9B1XjbgYUA"><img src="..\..\assets\images\map.png" class="map"></a>
          <hr>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 col-md-8 my-3 order-md-12 order-1 txt" style="text-align: center;">
            Feel free to contact us:
          </div>
          <div class="col-sm-12 col-md-4 my-3 order-md-12 order-1" style="text-align: center;">
          <a class="objects" href="https://www.instagram.com/expataid/"><img src="..\..\assets\images\instagram.png" style="max-width:50px;"></a>
          <a class="objects" href="https://www.facebook.com/groups/328956988640900"><img src="..\..\assets\images\facebook.png" style="max-width:42px;"></a>
          <a class="objects" href="tel: +31626621034"><img src="..\..\assets\images\call.png" style="max-width:45px;"></a>
          <a class="objects" href="mailto:mail@fontys.nl"><img src="..\..\assets\images\email.png" style="max-width:50px;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
