/* Mihai's CSS */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --contact-background: #007b5e;
}

.section-contact {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  min-height: 800px;
  background: #f0f3f5;
}
.Contact {
  font-size: 25px;
  color: rgb(255, 255, 255);
  background-color: rgb(141, 153, 167);
}
.objects {
  margin-left: 5px;
  margin-right: 5px;
}
.txt {
  font-size: 25px;
  color: rgb(0, 0, 0);
}
.frm {
  background-color: rgb(198, 210, 224);
}
.map {
  max-width: 100%;
  border: 3px solid rgb(141, 153, 167);
}

.btn-outline-primary {
  color: #353a40 !important;
  border-color: #353a40 !important;
  transition: background-color 300ms;
}

.btn-outline-primary:hover {
  background-color: #353a40 !important;
  color: #ffffff !important;
  transition: background-color 300ms;
}
