<body>

<div class="s01">
  <form class="example-form">
    <fieldset>
      <legend>ExpatAid</legend>
      <p class="subtitle">Find the perfect service provider</p>
    </fieldset>
    <div class="inner-form">

      <div class="input-field first-wrap">
        <input id="search" matInput [formControl]="queryField" [matAutocomplete]="auto" type="text" [(ngModel)]="searchJob" placeholder="What are you looking for?" />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor= "let item of allJobs | jobFilter: searchJob" [value]="item" [routerLink]="['/jobs', item.jobId]">
            {{item.title}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
  </form>

  <!-- <form class="">
    <mat-form-field >
      <input type="text" placeholder="Filter Name" [(ngModel)]="searchJob" aria-label="Assignee" matInput [formControl]="queryField" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor= "let item of allJobs | jobFilter: searchJob" [value]="item">
          {{item.title}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form> -->
</div>
<div class="container">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg">
      <img class="image"src="https://i.ibb.co/fQV6zd9/Group-28.png" alt="What?" >
      <p class="text-justify">ExpatAid provides services directly to you. We are a service provider website that finds the best freelancers to fix your home! Plumbers, electricians, carpenters, we have them all! If your troubles have began, come get your handyman!</p>
    </div>
    <div class="col-md-12 col-sm-12 col-lg">
      <img class="image" src="https://i.ibb.co/n7g6Dj9/Group-26.png" alt="Why?">
      <p class="text-justify">As expats, we have seen the troubles non-Dutch speakers go through to find someone to fix their homes! Finding someone is hard enough, but doing it in Dutch makes it even harder! As such, we created this website with the idea to help expats find someone to fix their home!</p>
    </div>
    <div class="col-md-12 col-sm-12 col-lg">
      <img class="image" src="https://i.ibb.co/d7HWdxY/Group-27.png" alt="How?">
      <p class="text-justify">We let freelancers all over the Netherlands post the services they provide in English at the charges they feel most fair! Everyone that completes a job is rated fairly and trust is built. We aim to provide the safest and most efficient experience!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg">
      <h2>How to post your services</h2>
      <p class="text-justify">For our service providers, creating a job is very simple! Just enter the title, the price you charge, a short description and your level of experience!</p>
    </div>
    
  </div>
  
    <div *ngIf="api.user" class="row input-field justify-content-center justify-content-lg-start fourth-wrap col-md-12 col-sm-12 col-lg">
      <button class="btn-search" type="button" (click)="open(content)">Upload your job</button>
    </div>

</div>



<!--      <div class="bg-image p-5  text-center shadow-1-strong mb-5 text-white  justify-content-center" style="height: 100vh;">-->

<!--            <h1 class="mb-3 h2">ProEP Project</h1>-->
<!--            <p class="subtitle" style="max-width: 1080p">-->
<!--              This site will be implemented with the functionality that is going to be decided later on in ProEP meetings-->
<!--            </p>-->
<!--            <p class="" style="width: 80%; margin-left: auto; margin-right: auto; max-width: 100vh; ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus praesentium labore accusamus sequi, voluptate debitis tenetur in deleniti possimus modi voluptatum neque maiores dolorem unde? Aut dolorum quod excepturi fugit.</p>-->
<!--            <div class= "d-flex p-2" style="margin-left: auto; margin-right: auto; max-width: 100vh;">-->
<!--                <input class="form-control me-2 justify-content-center" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--            </div>-->
<!--      </div>-->


</body>

<ng-template #content let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Adding Job</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="address">Title</label>
        <div class="input-group">
          <input id="address" class="form-control"  [(ngModel)]="jobtitle" name="title">
        </div>
        <label for="address">Price per hour</label>
        <div class="input-group">
          <input id="address" class="form-control" [(ngModel)]="jobprice"  name="price" >
        </div>
        <label for="phone">Description</label>
        <div class="textarea">
          <textarea rows="6" id="phone" class="form-control" [(ngModel)]="jobdescription" name="description" ng-model="description"></textarea>
        </div>
        <label for="phone">Level of experience</label>
        <div>
          <select class="form-select" id="experience" name="experience" [(ngModel)]="jobexperience">
            <option value = "1">Novice</option>
            <option value = "2">Intermediate</option>
            <option value = "3">Expert</option>
        </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" ng-required="phonenr" (click)="modal.close('Save click')" (click)="close()">Upload</button>
  </div>
</ng-template>

<ng-template #error let-modal let-c="close" let-d="dismiss" >
  <div class="modal-header error-alert">
    <h2 class="modal-title" id="modal-basic-title">There was an Error!</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <label for="address">{{lasterror}}</label>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" ng-required="phonenr" (click)="modal.close()" (click)="closepop()">Close</button>
  </div>
</ng-template>

<ng-template #success let-modal let-c="close" let-d="dismiss"  >
  <div class="modal-header success-alert" data-keyboard="false" data-backdrop="static">
    <h2 class="modal-title" id="modal-basic-title">Success!</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <label for="address">The job has been uploaded!</label>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" ng-required="phonenr" (click)="modal.close()" (click)="closepop()">Close</button>
  </div>
</ng-template>
