<section class="section-privacy">
  <div class="container">
    <div class="row">
      <div className="mt-3">
        <h1 className="special-block text-center">PRIVACY POLICY</h1>
        <p className="text-center mt-3">
          This Privacy Policy describes how web development company COMPANY_NAME, registered in The Netherlands, KVK:XXXXXXXX and its affiliates (“COMPANY WEBSITE”, “we”, “our” or “us”) collect, share and use information in connection with your use of our websites, applications, and services (the “Services”). This Privacy Policy (the “Privacy Policy”) does not apply to information our customers may process when using our Services.,
        </p>
      </div>

      <div className="mt-3">
        <h1 className="special-block text-center">We will NEVER sell your personal data</h1>
        <p className="text-center mt-3">
          We carry out all processing operations in strict compliance with European privacy laws and your personal information is always under your control. We want our services to be safe and enjoyable for you, and that is why we value your privacy.We may collect and receive information about users of our Services (“users,” “you,” or “your”) from various sources, including:information you provide to us to develop a logo or website;your use of the Services; and from third-party websites, services, and partners. We recommend that you read this Privacy Policy in full to ensure you are fully informed. If you have any questions about this Privacy Policy or our data collection, disclosure, and use practices, please contact us at CONTACT_EMAIL. All the trademarks on this website belong to us or are licensed by those trademark owners for usage on our website. The trademarks present in our website that are not a property of COMPANY_NAME e.g.Facebook, are given proper acknowledgment. Illegal use of this website may give rise to a claim for damages or be a criminal offense You may not copy (print, store, download), distribute, broadcast, or tamper with any of the content present in the website
        </p>
      </div>

      <div className="mt-3">
        <h1 className="special-block text-center">Information We Collect</h1>
        <p className="text-center mt-3">
          We collect the following personal information and non-personally identifiable information. First name, last name, email, country, city and other information you provide Content and other information you provide when using our website. Eg. Information you submit when you participate in our surveys Browser version, OS type, pages you browse in our website, date and time of your visit, domain names, exit pages/URLs, interaction information, and other similar technical data. Location information provided by a mobile device or associated with your IP address
        </p>
      </div>

      <div className="mt-3">
        <h1 className="special-block text-center">How We Collect Information From You</h1>
        <p className="text-center mt-3">
          We collect the information you submit to us. For example, when you request product or service information from us, fill in the contact form, when you reply to emails we send, register to participate in conferences or webinars we conduct, or when you respond to our customer surveys. We also, automatically collect usage, analytics, metrics, and other technical data. Get information about you from our resellers or other third-party partners. Get information from our advertising and market research partners. Sources, such as public databases; joint marketing partners, social media platforms; or other third parties
        </p>
      </div>

      <div className="mt-3">
        <h1 className="special-block text-center">How We Use The Information?</h1>
        <p className="text-center mt-3">
          We use the collected information to respond to queries/requests, process orders resolve any problems with services/products provided. Prevent activities that may violate our policies generate services/products that meet your needs. Enhance our services. We will get your consent to use your personal data for direct marketing
        </p>
      </div>

      <div className="mt-3">
        <h1 className="special-block text-center">Sharing Information With Others</h1>
        <p className="text-center mt-3">
          We do not share your personal information outside of COMPANY_NAME. However, we may unfold your personal data in certain circumstances, that includes, response to a lawful request by public authorities. A court order. Safeguard the property or rights of our company investigate. Prevent violation in relation to the services we offer. In the event of a reconstruction or liquidation, your personal information may be passed on to a successor in interest
        </p>
      </div>

      <div className="mt-3">
        <h1 className="special-block text-center">Cookies Policy</h1>
        <p className="text-center mt-3">
          What Are Cookies? Cookies are nothing but small files that are stored in your computer that hold a meager amount of data about the sites you visit. These files have information about the web page you visit, as well as any other information you’ve given such as name and interests.
        </p>
      </div>

      <div className="mt-3">
        <h1 className="special-block text-center">Contact us</h1>
        <p className="text-center mt-3">
          We may modify or update the privacy policy anytime. So, we advise you to review this policy periodically. We welcome your views on our website and privacy policy. Please contact us via CONTACT_EMAIL
        </p>
      </div>
    </div>
  </div>
</section>
