<body>
  <div class="s01">
  <form class=" example-form">

        <div class="inner-form">
          <div class="input-field first-wrap">
            <input id="search" matInput [formControl]="queryField" type="text" [(ngModel)]="searchJob" placeholder="What are you looking for?" />
          </div>
        </div>
  
  </form>
  </div>
<div class="container-fluid justify-content-center">
  
  <div class="row justify-content-center">
      <div [routerLink]="['/jobs', item.jobId]" class="col-sm-6 col-lg-4 my-3 card" style="width: 18rem;" *ngFor= "let item of allJobs | jobFilter: searchJob">
        <img class="card-img-top"src="http://handymanamsterdam.nl/wp-content/uploads/2020/01/plumber-1.jpg" alt="Generic placeholder image" >
        <div class="hidden-text">
          <H2 class="price">{{item.price}}$</H2>
        </div>
        <div class="card-body">
          <h2 class="title">{{item.title}}</h2>
          <p class="card-text">{{item.description}}</p>
        </div>
        
      
      </div>
    </div><!-- /.row -->
    <!-- <a class="card" style="width: 18rem;">
      <img class="card-img-top" src="http://handymanamsterdam.nl/wp-content/uploads/2020/01/plumber-1.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </a> -->
</div>

</body>  