<!--Section: Block Content-->
<section *ngIf="dataloaded" class="my-5 section-job">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

        <div class="view zoom z-depth-2 rounded">
          <img class="img-thumbnail" src="http://handymanamsterdam.nl/wp-content/uploads/2020/01/plumber-1.jpg" alt="Sample">
          <a href="#!">
            <div class="mask"></div>
          </a>
        </div>

      </div>
      <div class="col-md-5">
      
        <h1>{{selectedJob.title}}</h1>
        <!-- <p class="mb-2 text-muted text-uppercase small">Fruits</p>
         <ul class="rating">
          <li>
            <i class="fas fa-star fa-sm text-primary"></i>
          </li>
        </ul> -->
        
        <p>{{selectedJob.description}}</p>
        <p><span class="mr-1">Price per Hour: ${{selectedJob.price}}</span></p>
        <p><span class="mr-1">Experience level: <span class="levelOfExperience">{{selectedJob.levelOfExperience}}</span></span></p>
        <hr>
        <div *ngIf="api.user" class="justify-content-center">
          <h3><b>Book the job now</b></h3>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" [min]="mindate" (click)="showdateinconsole()"[(ngModel)]="bookingdate" placeholder="Choose a date" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
            </mat-form-field>
            <button type="button" class="btn btn-primary btn-md mr-1 mb-2" ng-required="bookingdate" (click)="postBooking()">Submit now</button>
        </div>

      </div>
      <div class="col-md-3 profile">
        <div><h4>Job Uploaded by:</h4>
          <a [routerLink]="['/profile', selectedJob.providerId]"> 
            {{selectedUser.firstName}} {{selectedUser.lastName}} <!-- firstname and last name--> <img src="{{selectedUser.profilePictureLink}}"  width="40" height="40"><!-- profilePictureLink-->
          </a>
        </div>
        <div>
          <button *ngIf="api.user.id == selectedJob.providerId" type="button" class="btn btn-danger btn-md mr-1 mb-2" (click)="todeletejob()">Delete your Job</button>
        </div>
      </div>
    </div>
</section>




  <!-- MODAL -->

  <ng-template #error let-modal let-c="close" let-d="dismiss" >
    <div class="modal-header error-alert">
      <h2 class="modal-title" id="modal-basic-title">There was an Error!</h2>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
          <label for="address">{{lasterror}}</label>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" ng-required="phonenr" (click)="modal.close('Save click')" (click)="close('error')">Close</button>
    </div>
  </ng-template>

  <ng-template #success let-modal let-c="close" let-d="dismiss" >
    <div class="modal-header success-alert">
      <h2 class="modal-title" id="modal-basic-title">Success!</h2>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
          <label for="address">Booking has been booked on {{bookingdate}}</label>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" ng-required="phonenr" (click)="modal.close('Save click')" (click)="close('success')">Close</button>
    </div>
  </ng-template>


  <ng-template #confirmDeletion let-modal let-c="close" let-d="dismiss" >
    <div class="modal-header question-alert">
      <h2 class="modal-title" id="modal-basic-title">Delete job?</h2>
      <a type="button" class="close" aria-label="Close" href="jobs" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="modal-body">
          <label for="address">Are you sure you want to delete this job from the site?</label>

    </div>
    <div class="modal-footer">
      <a type="button" class="btn btn-outline-dark yes" ng-required="phonenr" (click)="modal.close('Save click')" (click)="deletejob()">Yes</a>
      <a type="button" class="btn btn-outline-dark no" ng-required="phonenr" (click)="modal.close('Save click')" (click)="close('successDelete')">No</a>
    </div>
  </ng-template>






  <ng-template #successDelete data-bs-backdrop="static" data-bs-keyboard="false"  let-modal let-c="close" let-d="dismiss" >
    <div class="modal-header success-alert">
      <h2 class="modal-title" id="modal-basic-title">Success!</h2>
      <a type="button" class="close" aria-label="Close" href="jobs" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="modal-body">
          <label for="address">Your job has been successfully deleted!</label>

    </div>
    <div class="modal-footer">
      <a type="button" href="jobs" class="btn btn-outline-dark" ng-required="phonenr" (click)="modal.close('Save click')" (click)="close('successDelete')">Close</a>
    </div>
  </ng-template>
  <!--Section: Block Content-->