

<section class="section-footer py-3">
  <div class="footer-clean">
    <footer>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-6 col-md-3 item">
            <h3><fa-icon [icon]="faInfoCircle"></fa-icon> About</h3>
            <ul>
              <li><a href="contact">Contact</a></li>
              <li><a href="privacy">Privacy policy</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3><fa-icon [icon]="faWrench"></fa-icon> Jobs</h3>
            <ul>
              <li><a href="#">Upload a job</a></li>
              <li><a href="jobs">Find a job</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-3 item" *ngIf="api.user">
            <h3><fa-icon [icon]="faUserAlt"></fa-icon> Profile</h3>
            <ul>
              <li><a [routerLink]="['/profile', api.user.id]">Profile</a></li>
            </ul>
          </div>
          <div class="col-lg-3 item social text-center align-items-center">
            <a href="https://www.facebook.com/groups/328956988640900"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/expataid/"><i class="fa fa-instagram"></i></a>
            <p class="copyright">ExpatAid © 2021</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</section>

